<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207269428309-g8ch7cnqen0hu8sjlmio3pkhcuk6m8bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207269428309-g8ch7cnqen0hu8sjlmio3pkhcuk6m8bn</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTqal40Fq-wYPu_4neM_Pq6ipdc_W3p0</string>
	<key>GCM_SENDER_ID</key>
	<string>207269428309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.core.venturo</string>
	<key>PROJECT_ID</key>
	<string>trainee-venturo</string>
	<key>STORAGE_BUCKET</key>
	<string>trainee-venturo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207269428309:ios:2a887c5ef359cba93fe8dc</string>
</dict>
</plist>